.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust width as needed */
    text-align: center;
  }
  
  .login-logo {
    margin-bottom: 2rem;
  }
  
  .logo-image {
    max-width: 100%;
    height: auto;
    width: 60px;
    float: left;
  }
  
  h2 {
    margin-bottom: 1.5rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 0.8rem;
    margin: 0.3rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-password {
    display: block;
    margin-bottom: 12px;
    text-align: right;
    color: green;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .submit-button {
    width: 100%;
    padding: 0.8rem;
    background-color: #003366; /* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #002244;
  }
  