.register-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../components/Assets/imgs/logo.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
  }